.head {
    position: relative;
}

.burger-btn {
    margin-left: 10px;
}

.burger-menu.active {
    display: block;
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: #333;
    z-index: 1;
}

.burger-menu {
    display: none;
}

.logo {
    z-index: 2;
}

.burger-menu-item {
    display: block;
    padding: 142px 0px 0px 0px;
    margin: 0 35px;
}

.burger-menu-item.account {
    display: flex;
    align-items: center;
    margin: 35px 35px 25px 35px;
    padding: 25px 0px;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.burger-menu-item-list.account:nth-child(2) {
    margin-left: 35px;
}

.burger-menu-item.contact {
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 265px;
}

.burger-menu-item-list {
    list-style-type: none;
    font-size: 21px;
    line-height: 29px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
}

.burger-menu-item-list.nav {
    margin-top: 30px;
}

.burger-menu-item-list:first-child {
    margin-top: 0px;
}

.burger-btn {
    display: none;
    width: 50px;
    height: 50px;
    z-index: 2;
    position: relative;
    right: 0px;
    padding: 10.42px 8.33px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media (max-width: 995px) {
    .burger-btn {
        display: block;
    }
}

@media (min-width: 996px) {
    .burger-menu.active {
        display: none;
    }
}

.burger-menu-after_click:nth-child(1)::after {
    content: url('');
    display: block;
    width: 33.33px;
    height: 4.17px;
    border-radius: 60px;
    background-color: #fff;
    top: 10.42px;
    position: absolute;
}

.burger-btn.active > .burger-menu-after_click:nth-child(1)::after {
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    top: 23px;
}

.burger-btn > .burger-menu-after_click:nth-child(2)::after {
    content: url('');
    display: block;
    width: 20.83px;
    height: 4.17px;
    border-radius: 60px;
    background-color: #fff;
    top: 47%;
    position: absolute;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
}

.burger-btn.active > .burger-menu-after_click:nth-child(2)::after {
    display: none;
}

.burger-btn > .burger-menu-after_click:nth-child(3)::after {
    content: url('');
    display: block;
    width: 33.33px;
    height: 4.17px;
    border-radius: 60px;
    background-color: #fff;
    bottom: 10.42px;
    position: absolute;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
}

.burger-btn.active > .burger-menu-after_click:nth-child(3)::after {
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    bottom: 23px;
}