@media (max-width: 1130px) {
    .gallery__collections.content {
        flex-wrap: wrap;
        justify-content: center;
    } 

    .blog__item.content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .blog__item-list {
        margin: 0px 15px;
    }

    .blog__item-list:nth-child(3) {
        margin-top: 30px;
    }
}


@media (max-width: 1105px) {
    .slider__column:last-child {
        display: none;
    }

    .slider__column:nth-child(1) {
        margin-right: 15px;
    }

    .slider__column:nth-child(2) {
        margin-left: 15px;
    }

    .slider__row.content {
        justify-content: center;
    }
}


@media (max-width: 1010px) {
    .brand {
        display: none;
    }

     .product__slider__btns.content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .slider__btn {
        margin: 0px 9px 12px 9px;
    }
    
}

@media (max-width: 765px) {
    .slider {
        display: block;
    }

    .slider__row.content {
        flex-direction: column;
    }

    .slider__column:first-child {
        margin: 0px;
    }

    .slider__column:nth-child(2) {
        margin: 15px 0px;
    }

    .slider__row:last-child > .slider__column:nth-child(2) {
        margin-bottom: 0px;
    }
    
}

@media (max-width: 995px) {
    .navigation.content {
        justify-content: space-around;
    }

    .nav__item.content {
        display: none;
    }
}

@media (max-width: 935px) {
    .footer-column.content {
        flex-wrap: wrap;
    }

    .footer-row__item:nth-child(4) {
        margin-top: 24px;
        width: 100%;
    }
}

@media (max-width: 784px) {
    .footer-row__item {
        width: 50%;
    }

    .footer-row__item:nth-child(3) {
        margin-top: 24px;
    } 

    .footer-row__item:nth-child(4) {
        margin-top: 24px;
        width: 50%;
    }

    .blog__item.content {
        flex-direction: column;
    }

    .blog__item-list:nth-child(2) {
        margin: 30px 0px;
    }

    .blog__item-list:nth-child(3) {
        margin-top: 0px;
    }
}

@media (max-width: 730px) {
    .account__item.content {
        display: none;
    }

    .subscribe-box.content {
        flex-direction: column;
    }

    .subscribe__form {
        margin-top: 30px;
    }
}

@media (max-width: 660px) {
    .footer-bot__text.content {
        flex-direction: column;
        height: 125px;
    } 
}

@media (max-width: 480px) {
    .subscribe__form__input.content {
        flex-direction: column;
    }

    .subscribe__form__btn.button {
        margin: 24px 0px 0px 0px;
    }

    .footer-column.content {
        flex-direction: column;
        padding: 42px 0px 30px 0px;
    }

    .footer-row__item {
        margin-top: 24px;
        width: 100%;
    }
    
    .footer-row__item:nth-child(1) {
        margin-top: 0px;
    }

    .footer-row__item:nth-child(4) {
        width: 100%;
    }
}
