* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../../font/Gilroy-Regular.ttf") format('ttf');
    src: url("../../font/Gilroy-Regular.woff") format('woff');
}

@font-face {
    font-family: 'Gilroy';
    src: url("../../font/Gilroy-Medium.woff");
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../../font/Gilroy-Bold.ttf");
    font-weight: 600;
}

img {
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
    position: relative;
}

body {
    font-family: 'Gilroy';
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    background: #F9F9F9;
}

header {
    background: url('../../imgs/bgc.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.container {
    max-width: 1155px;
    margin: 0 auto;
}

.content { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 40.86px;
}


.sb_title {
    font-size: 21px;
    line-height: 29px;
    margin-bottom: 10px;
}

.item-list {
    font-weight: 400;
    line-height: 21px;
    list-style-type: none;
    cursor: pointer;
    position: relative;
    margin-left: 40px;
}

.item-list > a {
    position: relative;
}

.item-list > a::after {
    content: url('');
    width: 0%;
    bottom: -6px;
    left: 0px;
    height: 1px;
    position: absolute;
    background-color: #333;
    transition: all 0.2s;
    display: block;
}

.item-list > a:hover::after {
    width: 100%;
    transition: all 0.2s;
}

.item-list:first-child {
    margin-left: 0px;
}

.link-text {
    text-align: center;
    color: #333333;
    margin:  0 auto;
}

.head {
    padding: 27px 0px;
} 

.button {
    text-align: center;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.button:hover {
    background-color: #FFFFFF;
    color: #333333;
    border-color: #333333;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.btn {
    text-transform: uppercase;
    font-weight: 500;
}


.nav.item-list::after {
    content: url('');
    width: 0%;
    bottom: -5px;
    height: 1px;
    position: absolute;
    background-color: #FFFFFF;
    display: block;
    transition: all 0.2s;
}

.nav.item-list:hover::after {
    width: 100%;
    transition: all 0.2s;
}

.account.item-list {
    display: flex;
}


.search {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    margin-right: 42px;
}

.seacrh-hover-btn > p {
    display: flex;
    align-items: center;
}


.seacrh-hover-btn > p::before {
    content: url('../../imgs/gridicons_search.svg');
    width: 24px;
    height: 24px;
    margin-right: 13px;
    display: block;
}

.search-after-hover {
    display: none;
}

.account__item.content > .nav.item-list:nth-child(1) {
    margin-right: 40px;
}

.account__item.content > .nav.item-list:nth-child(2) {
    margin: 0px 24px 0px 0px;
}

.account__item.content > .nav.item-list:nth-child(3) {
    margin: 0px 0px 0px 0px;
}

.banner__text {
    padding: 498px 0px 80px 0px;
    border-bottom:  1px solid #FFFFFF;
}

.text {
    max-width: 730px;
    text-align: center;
    margin: 0 auto;
}

.banner__text__title {
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 50px;
}

.banner__text__btn {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    max-width: 265px;
    padding: 15px 34px;
    background: #333333;
    border: 1px solid #FFFFFF;
    margin:  0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.brand {
    padding: 30px 0px;
}

.brand__column {
    padding: 0px 15px;
    border-left: 1px solid #FFFFFF;
}

.brand__column:first-child {
    padding: 0px 15px 0px 0px;
    border-left: 0px;
}

.brand__column:last-child {
    padding: 0px 0px 0px 15px;
    border-right: 0px;
}

.product {
    padding: 88px 0px 120px 0px;
}

.product__text {
    max-width: 540px;
    text-align: center;
    color: #333333;
    margin: 0 auto;
}

.product__text__title {
    font-size: 30px;
    line-height: 41px;
}

.product__slider {
    margin-top: 60px;
}

.slider__btn {
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: #333;
    padding: 19px 36px 19px 35px;
    background-color: #fff;
    border: 1px solid #D6D6D6;
}

.slider__btn:hover {
    background-color: #333333;
    border: 1px solid #FFFFFF;
    color: #fff;
}

.slider__btn.active {
    background-color: #333333;
    border: 1px solid #D6D6D6;
    color: #fff;
}

.slider.active {
    display: block;
    margin-top: 55px;
}

.slider {
    display: none;
}

.slider__row.content {
    justify-content: center;
}

.slider__row:last-child {
    margin-top: 30px;
}    

.slider__column {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0px 15px 0px 15px;
}

.slider__column:first-child {
    margin-left: 0px;
}

.slider__column:last-child {
    margin-right: 0px;
}

.slider__column::after {
    content: url('');
    position: absolute;
    background-color: #333333;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 0;
}

.slider__column:hover::after {
    opacity: 0.5;
}

.slider__column > p {
    position: absolute;
    bottom: 30px;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    z-index: 1;
}

.our-salon{
    background-image: url('../../imgs/our-salon.png');
    background-size: cover;
    background-position: center center;
}

.our-salon__text {
    max-width: 736px;
    color: #FFFFFF;
    padding: 100px 0px;
}

.our-salon__text > .txt {
    font-weight: 400;
    font-size: 18px;
    line-height: 25.2px;
    margin: 45px 0px 60px 0px;
}

.our-salon__text__btn {
    max-width: 231px;
    margin: 0 auto;
    padding: 14px 34px;
    color: #333333;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.our-salon__text__btn:hover {
    color: #fff;
    border-color: #333333;
    background-color: #333333;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.button > a {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.blog {
    padding: 120px 0px 60px 0px;
}

.blog__item.content {
    width: 96%;
    margin-bottom: 60px;
}

.blog__btn {
    max-width: 265px;
    background-color: #333;
    border: 1px solid #fff;
    padding: 15px 35px;
    margin: 0 auto;
    box-sizing: border-box;
}

.blog__item-list {
    max-width: 350px;
    height: 370px;
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.blog__item-list::after {
    content: url('');
    width: 100%;
    height: 100%;
    background-color: #333333;
    position: absolute;
    opacity: 0;
    z-index: 0;
    transition: 0.2s;
}

.blog__item-list:hover::after {
    opacity: 0.5;
}

.blog__text {
    margin-bottom: 60px;
}

.blog__item-list__txt {
    font-size: 21px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    bottom: 35px;
    z-index: 1;
}

.blog__item-list:first-child > .blog__item-list__txt {
    max-width: 158px;
}

.blog__item-list:nth-child(n+2) > .blog__item-list__txt {
    max-width: 250px
}

.gallery {
    padding: 60px 0px 146px 0px;
}

.gallery__text {
    text-align: center;
    margin-bottom: 60px;
}

.gallery__collections.content {
    justify-content: center;
}

.gallery__collections__row.video {
    display: flex;
    justify-content: center;
}


.gallery__collections__row.video::before {
    content: url('../../imgs/ant-design_play-circle-filled.svg');
    width: 80px;
    height: 80px;
    display: block;
    top: 30%;
    z-index: 2;
    cursor: pointer;
    position: absolute;
}

.gallery__collections__column:nth-child(1) {
    display: grid;
    grid-template-areas: 
            "video  video"
            "img-a  img-b";
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 1fr;

}

.gallery__collections__column:nth-child(2) {
    display: grid;
    grid-template-areas: 
            "img-a  img-b"
            "video  video";
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 1fr;

}

.gallery__collections__row {
    max-height: 300px;
    position: relative;
}

.gallery__collections__row::after {
    content: url('');
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.gallery__collections__row:hover::after {
    opacity: 0.5;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.gallery__collections__row.item-a:nth-child(1) {
    grid-area: video;
}

.gallery__collections__row.item-a:nth-child(2) {
    grid-area: img-a;
}

.gallery__collections__row.item-a:nth-child(3) {
    grid-area: img-b;
}

.gallery__collections__row.item-b:nth-child(1) {
    grid-area: img-a;
}

.gallery__collections__row.item-b:nth-child(2) {
    grid-area: img-b;
}

.gallery__collections__row.item-b:nth-child(3) {
    grid-area: video;
}

.subscribe {
    background-image: url('../../imgs/our-salon.png');
    background-size: cover;
    background-position: center center;
}

.subscribe-body {
    padding: 104px 0px 116px 0px;
}

.subscribe__text {
    color: #FFFFFF;
    margin-bottom: 60px;
}

.subscribe-box {
    max-width: 773px;
    margin: 0 auto;
}

.subscribe__list.item-list {
    font-size: 18px;
    line-height: 25.2px;
    margin: 15px 0px 0px 0px;
    display: flex;
    align-items: center;
}

.subscribe__list.item-list > a::after {
    background-color: #D6D6D6;
}

.subscribe__list.item-list:first-child {
    margin-top: 0px;
}

.subscribe__list.item-list::before {
    content: url('../../imgs/subscribe__icon.svg');
    width: 17px;
    height: 17px;
    display: block;
    margin-right: 20px;
}

.subscribe__form {
    padding: 14px 12px 14px 15px;
    border: 1px solid #FFFFFF;
}

.subscribe__form__input {
    max-width: 374px;
    padding: 20px 25px 20px 22px;
    background-color: #FFFFFF;
}

.subscribe__form__input > input {
    max-width: 200px;
    padding: 15px 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: rgba(51, 51, 51, 0.5);;
    border: 1px solid #D6D6D6;
}

.subscribe__form__input > input:focus {
    outline: 0;
    color: #333333;    
}

.subscribe__form__btn {
    padding: 14px 25px;
    border: 1px solid #fff;
    background-color: #333333;
    margin-left: 15px;
}

.subscribe__form__btn > a {
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.footer-column.content {
    align-items: flex-start;
    padding: 84px 0px 60px 0px;
}

.footer-row__item {
    width: 255px;
}

.footer-row-title.item-list {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 25px;
    padding-bottom: 10px;
    color: #333333;
    border-bottom: 1px solid #333333;
    margin: 0px 0px 30px 0px;
}

.footer-row.item-list {
    color: #333333;
    margin: 15px 0px 0px 0px;
    display: flex;
    align-items: center;
} 

.footer-row.item-list >  a {
    position: relative;
}

.footer-row.item-list > p:hover::after {
    width: 100%;
    transition: all 0.2s;
}

.footer-row.item-list:nth-child(2) {
    margin-top: 0px;
}

.footer-row.item-list.phone::before {
    content: url('../../imgs/entypo_old-phone.svg');
    width: 20px;
    height: 20px;
    display: block;
    margin-right: 20px;
}

.footer-row.item-list.e-mail::before {
    content: url('../../imgs/entypo_mail.svg');
    width: 20px;
    height: 20px;
    display: block;
    margin-right: 20px;
}

.footer-row.item-list.pay {
    margin-top: 21px;
}

.pay-item.content {
    align-items: center;
}

.pay-item-list:first-child {
    margin-right: 20px;
}

.footer-row.item-list.social {
    margin-top: 21px;
}

.social-item-list {
    margin-left: 20px;
}

.social-item-list:first-child {
    margin-left: 0px;
}

.footer-bot__text {
    padding: 20px 0px;
    border-top: 1px solid #333333;;
}

.footer-bot__text > .txt {
    color: #333333;
}

.footer-bot__text > .txt.example {
    font-weight: 600;
    text-decoration-line: underline;
}

