* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../../font/Gilroy-Regular.ttf") format('ttf');
    src: url("../../font/Gilroy-Regular.woff") format('woff');
}

@font-face {
    font-family: 'Gilroy';
    src: url("../../font/Gilroy-Medium.woff");
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../../font/Gilroy-SemiBold.woff");
    font-weight: 600;
}

img {
    width: 100%;
}

body {
    font-family: 'Gilroy';
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    background: #F9F9F9;
}

header {
    background: #333333;
    background-size: cover;
    background-position: center center;
}

.container {
    max-width: 1155px;
    margin: 0 auto;
    padding: 0px 10px;
}

.content { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: #fff;
    text-decoration: none;
}

h1 {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 40.86px;
}

.sb_title {
    font-size: 21px;
    line-height: 29px;
    margin-bottom: 15px;
}

.item-list {
    font-weight: 400;
    line-height: 21px;
    list-style-type: none;
    cursor: pointer;
    color: #ffff;
    position: relative;
    margin-left: 40px;
}

.item-list > a {
    position: relative;
}

.item-list > a::after {
    content: url('');
    width: 0%;
    bottom: -6px;
    left: 0px;
    height: 1px;
    position: absolute;
    background-color: #333;
    transition: all 0.2s;
    display: block;
}

.item-list > a:hover::after {
    width: 100%;
    transition: all 0.2s;
}

.item-list:first-child {
    margin-left: 0px;
}

.link-text {
    text-align: center;
    margin:  0 auto;
}

.head {
    padding: 27px 0px;
} 

.button {
    text-align: center;
    margin: 0 auto;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.button:hover {
    background-color: #FFFFFF;
    color: #333333;
    border-color: #333333;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.button:hover > .btn {
    color: #333;
}

.btn {
    font-size: 18px;
    text-transform: uppercase;
}

.nav.item-list::after {
    content: url('');
    width: 0%;
    bottom: -5px;
    height: 1px;
    position: absolute;
    background-color: #FFFFFF;
    display: block;
    transition: all 0.2s;
}

.nav.item-list:hover::after {
    width: 100%;
    transition: all 0.2s;
}

/* <<<<HEADER>>>> */

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    margin-right: 42px;
}

.seacrh-hover-btn > p {
    display: flex;
    align-items: center;
    color: #fff;
}


.seacrh-hover-btn > p::before {
    content: url('../../imgs/gridicons_search.svg');
    width: 24px;
    height: 24px;
    margin-right: 13px;
    display: block;
}

.search-after-hover {
    display: none;
}

.account__item.content > .nav.item-list:nth-child(1) {
    margin-right: 40px;
}

.account__item.content > .nav.item-list:nth-child(2) {
    margin: 0px 24px 0px 0px;
}

.account__item.content > .nav.item-list:nth-child(3) {
    margin: 0px 0px 0px 0px;
}

.catalog-btns {
    width: 100%;
    padding: 100px 0px 30px 0px;
    flex-wrap: wrap;
}

.catalog-list-btn {
    width: 160px;
    margin: 0px 6px;
    position: relative;
}

.catalog-list-menu {
    display: none;
}


.catalog-list-menu.active {
    display: block;
    max-width: 255px;
    width: 100%;
    position: absolute;
    border: 1px solid #D6D6D6;
    background-color: #F9F9F9;
    z-index: 1;
    border-radius: 0px 0px 10px 10px;
}

.catalog-list-menu > ul {
    padding: 24px 52px 24px 30px;
    box-sizing: border-box;
}

.catalog-list-menu > ul > li:first-child {
    margin-top: 0px;
}

.catalog-list-menu > ul > li {
    list-style-type: none;
    justify-content: start;
    margin-top: 12px;
}

.catalog-list-menu > ul > li > label {
    margin-left: 12px;
    text-align: left;
}

.catalog-list-menu > .btns-menu-item {
    max-width: 200px;
    padding: 10px 25px 10px 30px;
    border-top: 1px solid #D6D6D6;;
}

.catalog-list-menu > .btns-menu-item  > .btns-menu-item {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
}

.btns-menu-item > .clear {
    padding-bottom: 3px;
    border-bottom: 1px dashed #000000;
}

.btns-menu-item > .show  {
    background: #333333;
    padding: 8px 12px;
}

.btns-menu-item > .show > a {
    color: #fff;
}

.catalog-list-btn > a {
    text-align: left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #D6D6D6;
}

.catalog__txt {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #333;
}

.catalog-list-btn > a::after {
    content: url('../../imgs/arrow-select.svg');
    display: block;
    width: 12px;
    height: 10px;
}

.catalog-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog-column {
    padding: 68px 0px 56px 0px;
    width: 97%;
}

.catalog-column:first-child {
    padding-top: 30px;
    border-bottom: 1px solid #D6D6D6;;
}

.catalog-column:nth-child(3) {
    display: none;
}

.catalog-column.active:nth-child(3) {
    display: flex;
    padding: 0px 0px 56px 0px;
}

.catalog__row {
    padding: 35px;
}

.catalog__row__img {
    position: relative;
}

.catalog__row__img::after {
    content: url('');
    width: 100%;    
    height: 97.5%;
    background-color:#000;
    position: absolute;
    top: 0px;
    opacity: 0;
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.catalog__row__img:hover::after{
    opacity: 0.2;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.catalog__row__text {
    text-align: center;
    margin: 18px 0px 15px 0px;
}

.catalog__product-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    margin-top: 10px;
}

.catalog__row__btn {
    max-width: 85px;
    padding: 8px 18px;
    background: #333333;
}

.catalog__row__btn > a {
    font-weight: 400;
    line-height: 20.88px;
}

.catalog__column__btn {
    max-width: 156px;
    letter-spacing: 0.1em;
    padding: 14px 35px;
    background: #333333;
}

.catalog__column__btn > a {
    font-weight: 500;
    line-height: 21.19px;
}

.seo {
    padding: 150px 0px;
}

.seo-body.content {
    max-width: 920px;
    align-items: flex-start;
    margin:  0 auto;
}

.seo-text {
    max-width: 540px;
}


.seo-text > p {
    position: relative;
    color: #000;
}

.seo-text.active > p::after {
    display: none;
}

.seo-text > p::after {
    display: block;
    content: url('');
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(180deg, rgba(249, 249, 249, 0) -50%, #F9F9F9 32.29%);
    width: 540px;
    height: 192px;
}

.seo-text > .read-more__btn {
    display: inline-block;
    cursor: pointer;
    margin-top: 12px;
}

.seo-text > .read-more__btn > a {
    text-decoration: underline dotted;
    color: #333;
}

.icon__list {
    display: grid;
    grid-template-areas: 
        "item-a item-b"
        "item-c item-d";
    grid-template-columns: repeat(2. 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 60px;
    color: #000;
}

.icon__item:nth-child(1) {
    grid-area: item-c;
    max-width: 90px;
}

.icon__item:nth-child(2) {
    grid-area: item-d;
    max-width: 70px;
    padding-left: 30px;
}

.icon__item:nth-child(3) {
    grid-area: item-a;
    max-width: 90px;
}

.icon__item:nth-child(4) {
    grid-area: item-b;
    max-width: 127px;
}

.icon__item {
    text-align: center;
}


.icon__item > p {
    margin-top: 15px;
}

.subscribe {
    background-image: url('../../imgs/our-salon.png');
    background-size: cover;
    background-position: center center;
}

.subscribe-body {
    padding: 104px 0px 116px 0px;
}

.subscribe__text {
    color: #FFFFFF;
    margin-bottom: 60px;
}

.subscribe-box.content {
    max-width: 842px;
    justify-content: start;
    margin: 0 auto;
}

.subscribe__list.item-list {
    font-size: 18px;
    line-height: 25.2px;
    margin: 15px 0px 0px 0px;
    display: flex;
    align-items: center;
}

.subscribe__list.item-list > a::after {
    background-color: #D6D6D6;
}

.subscribe__list.item-list:first-child {
    margin-top: 0px;
}

.subscribe__list.item-list::before {
    content: url('../../imgs/subscribe__icon.svg');
    width: 17px;
    height: 17px;
    display: block;
    margin-right: 20px;
}

.subscribe__form {
    padding: 14px 12px 14px 15px;
    border: 1px solid #FFFFFF;
    margin-left: 77px;
}

.subscribe__form__input {
    max-width: 374px;
    padding: 16px 37px 19px 9px;
    background-color: #FFFFFF;
}

.subscribe__form__input > input {
    max-width: 200px;
    padding: 15px 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: rgba(51, 51, 51, 0.5);;
    border: 1px solid #D6D6D6;
}

.subscribe__form__input > input:focus {
    outline: 0;
    color: #333333;    
}

.subscribe__form__btn {
    padding: 11px 34px;
    background-color: #333333;
    margin-left: 29px;
}

.subscribe__form__btn > a {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}


.footer-column.content {
    align-items: flex-start;
    padding: 84px 0px 60px 0px;
}

.footer-row__item {
    width: 255px;
}

.footer-row-title  {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.1em;
    color: #333;
    text-transform: uppercase;
    line-height: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #333333;
    margin: 0px 0px 30px 0px;
}

.footer-row.item-list {
    color: #333;
    margin: 15px 0px 0px 0px;
    display: flex;
    align-items: center;
} 

.footer-row.item-list > a {
    color: #333;
}

.footer-row.item-list:nth-child(2) {
    margin-top: 0px;
}

.footer-row.item-list.phone::before {
    content: url('../../imgs/entypo_old-phone.svg');
    width: 20px;
    height: 20px;
    display: block;
    margin-right: 20px;
}

.footer-row.item-list.e-mail::before {
    content: url('../../imgs/entypo_mail.svg');
    width: 20px;
    height: 20px;
    display: block;
    margin-right: 20px;
}

.footer-row.item-list.pay {
    margin-top: 21px;
}

.pay-item.content {
    align-items: center;
}

.pay-item-list:first-child {
    margin-right: 20px;
}

.footer-row.item-list.social {
    margin-top: 21px;
}

.social-item-list {
    margin-left: 20px;
    list-style-type: none;
}

.social-item-list:first-child {
    margin-left: 0px;
}

.footer-bot__text {
    padding: 20px 0px;
    border-top: 1px solid #333333;;
}

.footer-bot__text > .txt {
    color: #333333;
}

.footer-bot__text > .txt.example {
    font-weight: 600;
    text-decoration-line: underline;
}

