* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../../font/Gilroy-Regular.ttf") format('ttf');
    src: url("../../font/Gilroy-Regular.woff") format('woff');
}

@font-face {
    font-family: 'Gilroy';
    src: url("../../font/Gilroy-Medium.woff");
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../../font/Gilroy-Bold.ttf");
    font-weight: 600;
}

img {
    width: 100%;
}

body {
    font-family: 'Gilroy';
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    background: #F9F9F9;
}

header {
    background: #333333;
    background-size: cover;
    background-position: center center;
}

.container {
    max-width: 1155px;
    margin: 0 auto;
}

.content { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 40.86px;
}

h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 42px;
}

h3 {
    font-weight: 500;
    font-size: 26px;
    color: #333333;
    text-align: center;
    line-height: 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    width: 184px;
    padding: 0px 45px 0px 0px;
}

.sb_title {
    font-size: 18px;
    font-weight: 600;
    line-height: 25.2px;
    color: #333333;
    margin-bottom: 25px;
}

.item-list {
    font-weight: 400;
    line-height: 21px;
    list-style-type: none;
    cursor: pointer;
    color: #ffff;
    position: relative;
    margin-left: 40px;
}

.item-list > a {
    position: relative;
}

.item-list > a::after {
    content: url('');
    width: 0%;
    bottom: -6px;
    left: 0px;
    height: 1px;
    position: absolute;
    background-color: #333;
    transition: all 0.2s;
    display: block;
}

.item-list > a:hover::after {
    width: 100%;
    transition: all 0.2s;
}

.item-list:first-child {
    margin-left: 0px;
}

.link-text {
    text-align: center;
    color: #333333;
    margin:  0 auto;
}

.head {
    padding: 27px 0px;
} 

.button {
    cursor: pointer;
}

.btn {
    text-transform: uppercase;
    font-weight: 500;
}

.nav.item-list::after {
    content: url('');
    width: 0%;
    bottom: -5px;
    height: 1px;
    position: absolute;
    background-color: #FFFFFF;
    display: block;
    transition: all 0.2s;
}

.nav.item-list:hover::after {
    width: 100%;
    transition: all 0.2s;
}

/* <<<<HEADER>>>> */

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    margin-right: 42px;
}

.seacrh-hover-btn > p {
    display: flex;
    align-items: center;
    color: #fff;
}


.seacrh-hover-btn > p::before {
    content: url('../../imgs/gridicons_search.svg');
    width: 24px;
    height: 24px;
    margin-right: 13px;
    display: block;
}

.search-after-hover {
    display: none;
}

.account__item.content > .nav.item-list:nth-child(1) {
    margin-right: 40px;
}

.account__item.content > .nav.item-list:nth-child(2) {
    margin: 0px 24px 0px 0px;
}

.account__item.content > .nav.item-list:nth-child(3) {
    margin: 0px 0px 0px 0px;
}

/* <<<<MAIN>>>> */
    /* product-breadcrumbs */

.product-link {
    max-width: 198px;
    padding: 62px 0px 51px 0px;
    align-items: baseline;
    margin: 0 auto;
}

.product-link-item.content {
    max-width: 153px;
    align-items: baseline;
}
    
.product.item-list {
    display: flex;
    align-items: center;
    color: #333333;
    margin-left: 0px;
}
    
.product.item-list.status {
    text-decoration: underline;
}
    
.after-content::after {
    display: none;
    content: '/';
    display: block;
    width: 9px;
    height: 24px;
    color: #333333;
    margin: 0px 15px 0px 15px;
}

.map-contact {
    text-align: center;
}


.contact-body {
    padding: 30px 0px 59px 0px;
    border-bottom: 1px solid #D6D6D6;
}

.contact__column.content {
    max-width: 1131px;
    flex-wrap: wrap;
}

.contact__row.item-list {
    color: #333333;
    display: flex;
    margin: 0px;
}

.contact__row > .contact_row__titie {
    text-align: left;
}

.contact__row.item-list:last-child {
    margin-top: 15px;
}

.contact__row.item-list.location::before {
    content: url("../../imgs/gridicons_location.svg");
    margin-right: 10px;
}

.contact__row:nth-child(2) {
    margin-right: 35px;
}

.contact__row:nth-child(3) {
    margin-right: 46px;
}


.contact__row.item-list.phone::before {
    content: url("../../imgs/carbon_phone-filled.svg");
    margin-right: 10px;
}

.contact__row.item-list.mail::before {
    content: url("../../imgs/foundation_mail.svg");
    margin-right: 10px;
}

.contact__row.item-list::before {
    content: url();
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.img__map {
    padding:60px 40px 36px 5px;
}

/* <<<<FOOTER>>>> */
    /* footer-top */

.footer-column.content {
    align-items: flex-start;
    padding: 78px 0px 60px 0px;
}

.footer-row__item {
    width: 255px;
}

.footer-row.title.item-list {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #333333;
    margin: 0px 0px 30px 0px;
}

.footer-row.item-list {
    color: #333333;
    margin: 15px 0px 0px 0px;
    display: flex;
    align-items: center;
} 

.footer-row.item-list:nth-child(2) {
    margin-top: 0px;
}

.footer-row.item-list.phone::before {
    content: url('../../imgs/entypo_old-phone.svg');
    width: 20px;
    height: 20px;
    display: block;
    margin-right: 20px;
}

.footer-row.item-list.e-mail::before {
    content: url('../../imgs/entypo_mail.svg');
    width: 20px;
    height: 20px;
    display: block;
    margin-right: 20px;
}

.footer-row.item-list.pay {
    margin-top: 21px;
}

.pay-item.content {
    align-items: center;
}

.pay-item-list:first-child {
    margin-right: 20px;
}

.footer-row.item-list.social {
    margin-top: 21px;
}

.social-item-list {
    margin-left: 20px;
}

.social-item-list:first-child {
    margin-left: 0px;
}

    /* footer-top */    /* footer-top */     /* footer-top */
    /* footer-bot */    /* footer-bot */    /* footer-bot */
    
.footer-bot__text {
    padding: 15px 0px;
    border-top: 1px solid #333333;;
}

.footer-bot__text > .txt {
    color: #333333;
}

.footer-bot__text > .txt.example {
    font-weight: 600;
    text-decoration-line: underline;
}

    
    /* footer-bot */
/* <<<<FOOTER>>>> */